[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
ollama = "*"
llama-index = "*"
qdrant-client = "*"
torch = "*"
transformers = "*"
llama-index-llms-ollama = "*"

[dev-packages]

[requires]
python_version = "3.12"
