<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Histoires imagées</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1 class="maintitre"> Chair de poule</h1> 
        <p>{{ rep['message']['content'] }}</p>
    </main>
    <section>
        <h2>Clique si tu l'oses !</h2>
        <div class="container">
            
            {% for x in files_path %}
            <div class="item">
                <img src="{{ x }}">
            </div>
            {% endfor %}
            

        </div>
    </section>
  </body>
</html>