<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Histoires imagées</title>
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
  </head>
  <body>
    <main>
        <h1 class="maintitre">Père Castor, raconte-moi une histoire.</h1> 
        <h2> Oui mon petit, mais il me faut des images !
            <br> Regarde sous mes pieds, une porte magique !
        </h2> 
        <img src="{{ url_for('main.static', filename='img/1hamster.jpg') }}" />
        <p> 
            Au cours de ses fantastiques aventures,
            le doigt enchanteur est doté de plusieurs vies et subit des métamorphoses ; 
            il sait aussi devenir prothèse et se dédoubler en une barre rigide pour glisser sur la guitare jouée à plat : 
            la « lap steel guitare ».
        </p>
        <a class="button1" type="button" href="{{ url_for('main.gallerie')}}"> Pays des merveilles </a>
    </main>
  </body>
</html>
